.cardMain-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: 65px;
    width: 380px;
    align-items: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .cardMain-container {
        width: 180px;
        font-size: 16px;
    }

    .cardMain-image {
        height: 150px !important;
        width: 150px !important;
    }

    .addedToCart {
        margin-left: 0px !important;

    }

}

.cardMain-image {
    height: 250px;
    width: 250px;
}

.cardMain {
    width: 300px;
    /* box-shadow: 2px 2px 10px black; */
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cardMain:hover {
    box-shadow: 3px 3px 20px black;
    transform: translate(0px, -10px);
}


.cardMain-title:hover {
    color: #00b5ff;
}

.addedToCart {
    visibility: visible !important;
    display: flex;
    border: 0px solid green;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #34bb34;
    position: relative;
    animation: addAnimation 0.3s ease-in-out 0s 1 forwards;
    /* animation: animation-name  animation-duration  animation-timing-function  animation-delay  animation-iteration-count  animation-fill-mode; */
}

@keyframes addAnimation {
    0% {
        top: 0px;
        left: 0px;
    }

    95% {
        /* visibility: hidden !important; */
    }

    100% {
        top: -20px;
        left: 0px;
    }
}

/* .addedToCart{
    border: 0px solid green;
    border-radius: 4px;
    padding: 0 5px;
    margin-left: 5px; 
    background-color: #34bb34;
    color: white;
} */