.carousel-img {
    height: 400px;
    width: 400px ;
    /* object-fit: cover;   */
    border: 2px solid black;
}

.ImgAndContent{
    display: flex;
    justify-content: center;
}

.carousel-card{
    border: none;
}